<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
  <h2>LC Waikiki Bitirme Projesi</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="~/images/item3.jpg" alt="Paris" width="400" height="300">
        <p><strong>1. Hafta</strong></p>
                <a href="https://github.com/enesozmus/LCWaikiki.NetBootcamp/tree/main/EnesOzmus.01Week-main" style="text-decoration: none">LC Waikiki .Net Bootcamp'in birinci haftasında geliştirilen örnek WebAPI projesi</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="~/images/item2.jpg" alt="New York" width="400" height="300">
        <p><strong>2. Hafta</strong></p>
        <a href="https://github.com/enesozmus/LCWaikiki.NetBootcamp/tree/main/EnesOzmus.02Week-main" style="text-decoration: none">LC Waikiki .Net Bootcamp'in ikinci haftasında geliştirilen örnek WebAPI projesi</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="~/images/item1.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>3. Hafta</strong></p>
         <a href="https://github.com/enesozmus/LCWaikiki.NetBootcamp/tree/main/EnesOzmus.03Week-main" style="text-decoration: none">LC Waikiki .Net Bootcamp'in üçüncü haftasında geliştirilen örnek e-ticaret veri tabanı scripti</a>
      </div>
    </div>
  </div>
</div>